{% extends '_templates/base.njk' %}

{% block page_title %}Golden Age Pirate Ships{% endblock %} {% block page_description %}Learn about the pirates of the Golden Age and their ships.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>Chantey yo-ho-ho furl gaff smartly come about provost barkadeer grapple landlubber or just lubber...</p>
  <div class="row">
    {% for ship in pirates.ships %}
    <div class="col-sm-6 col-lg-4">
      <div class="card border-info mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ ship.ship_name }}</h5>
          <h6 class="ship-captain">{{ ship.captain }}</h6>
          <p class="card-text">{{ ship.blurb }}</p>
          <a href="{{ ship.source }}" target="_blank">Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</article>
{% endblock %}
