// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "pirate-ships";

h3 {
  font-size: 1.5rem;
}

.blog-loop {
  border-bottom: 1px solid lightgray;
}

.blog-date {
  font-size: 14px;
}

.blog-headline {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
